@mixin title-mobile {
	font-size: 2.6rem;
	font-weight: 600;
	padding-bottom: 2rem;
}

@mixin description-mobile {
	font-size: 1.6rem;
	padding-bottom: 5rem;
	max-width: 65rem;
}

@mixin flex-mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 3rem;
}

